/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EDEFED;
}

.Site-content {
  flex: 1;
}
.wrapper-grey {
  background: #F9F9F9;
}
.marged{
  margin-top: 40px;
  padding: 40px 0;
}
.img-home{
  width: 140px;
  height: 140px;
}
.photo{
  background-size: cover !important;
  height: 450px;
}
.adjust{
  padding-top: 65px;
  padding-left: 30px;
}
.padded{
  padding: 45px 0;
}
