<div class="banner ig-rise" style="background: url(<%= image_url('home.jpg') %>);">
  <h1> Bienvenue sur Photo Market </h1>
   <a href="#block1" class="banner-arrow"><i class="fa fa-angle-double-down"></i></a>
</div>
<div class="container" id="block1">
  <div class="row">
    <h2 class="text-center">Comment cela fonctionne ?</h2>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>
<div id="block2">

</div>
