.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}
.ig-mayfair {
  -webkit-filter: saturate(1.4) contrast(1.1);
  filter: saturate(1.4) contrast(1.1);
}
.banner-arrow {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  font-size: 50px;
  margin: 0 auto;
  color: white;
&:hover{
  color: white;
  }
}
.navbar-wagon-home {
box-shadow: none;
position: absolute;
top: 0px;
left: 0px;
z-index: 1;
width: 100%;
  .navbar-wagon-link {
color: white;
  }
.navbar-wagon-link:hover {
  color: #da552f;
  }
.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  }
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
  border: 1px solid #999999;
  }
.badge-container {
  color: white;
  }
}
.img-home{
  width: 140px;
  height: 140px;
}
